---
layout: default
title: End-to-End (DeepISP)
---
<h2>Colour Mapping (RGB-to-RGB)</h2>

<b>Colour Mapping (RGB-to-RGB)</b> 

{% assign publicationsList = site.data.morantaxonomy | sort: "bibkey" %}
<table id="patternModelTable">
<thead><th>Name</th></thead>
<tbody>
{% for publication in publicationsList %}{% if publication.categories contains "colourmap" %}
    {% assign pubDetails = site.publications | where:"bibkey", publication.bibkey %}
      <tr>
          <td data-order="{{publication.bibkey}}"><a href="/publications/{{publication.bibkey}}">{{pubDetails[0].authors}}, {{pubDetails[0].year}}.</a> {{pubDetails[0].title}}</td>
      </tr>
{% endif %}{% endfor %}
</tbody></table>

<script>
$(document).ready( function () {
    $('#patternModelTable').DataTable({paging: false,});
} );
</script>
