---
layout: default
title: Demosaicing Models
---
<h2>Demosaicing Models</h2>

<b>Demosaicing Models</b>

{% assign publicationsList = site.data.morantaxonomy | sort: "bibkey" %}
<table id="genModelTable">
<thead><th>Name</th></thead><tbody>
{% for publication in publicationsList %}{% if publication.categories contains "supervised" %}
    {% assign pubDetails = site.publications | where:"bibkey", publication.bibkey %}
      <tr>
          <td data-order="{{publication.bibkey}}"><a href="/publications/{{publication.bibkey}}">{{pubDetails[0].authors}}, {{pubDetails[0].year}}.</a> {{pubDetails[0].title}}</td>
      </tr>
{% endif %}{% endfor %}
</tbody></table>

<script>
$(document).ready( function () {
    $('#genModelTable').DataTable({paging: false,});
} );
</script>
